*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
    font-family:Tahoma; 
    overflow: hidden;
}

#wrap{
    min-height: 100vh;
    min-width: 100vw;
}

#bar{
    position: fixed;
    width: 80px;
    height: 100vh;
    background: #333;
    background-image: url(bar.png);
}

#logo{
    width: 100%;
    height: 80px;
    background-image: url(logo.);
    background-size: 100% 100%;
}

nav ul{
    list-style: none;
    padding: 20px 0;
    text-align: center;
}

nav ul li a{
    color: white;
    font-size: 1.3em;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-family:Tahoma ;
}

.active{
    color: #ffffff;
}

a.button{
    color: hotpink;
    font-size: 1.5em;
    border-bottom: 4px solid hotpink;
    text-decoration: none;
    font-family: Tahoma;
    float: right;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

.content-container{
    max-width: 599px;
    width: 100%;
    background: #f8f8f8;
    min-height: 100vh;
    padding-left: 80px;
    float: left;
}

.content{
    padding: 50px;
    box-sizing: border-box;
    min-height: 100vh;
}

.image-container{
    height: 100vh;
}

.image{
    width: 100%;
    height: 100%;
}

.image.first-img{
    background: url(1.png) top right no-repeat fixed;
    background-size: cover;
}

.image.second-img{
    background: url(two.png) top right no-repeat fixed;
    background-size: cover;
}

.image.third-img{
    background: url(three.png) top right no-repeat fixed;
    background-size: cover;
}

.image.fourth-img{
    background: url(four.png) top right no-repeat fixed;
    background-size: cover;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 5.8em;
    line-height: 0.78;
    margin: 2rem 0;
    font-weight: 700;
    letter-spacing: -4px;
}

h1 .first{
    font-size: 2.2rem;
}

h1 .small{
    font-size: 1.2rem;
    font-family: tahoma;
    padding-left: 20px;
    letter-spacing: 0px;;
}

p.copy{
    display: block;
    float: left;
    line-height: 1.5;
}

p.copy::before{
    content:"";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #000000;
    margin-bottom: 200px;
    margin-right: 20px;
    float: left;
    position: relative;
    top: 5px;
}